.app-wrapper {
  display: grid;
  grid-template-areas:
    'header header'
    'nav content';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.header {
  grid-area: header;
  background-color: rgb(63, 179, 173);
}

.nav {
  grid-area: nav;
  background-color: rgb(164, 196, 26);
}

.content {
  grid-area: content;
  background-color: rgb(87, 185, 48);
}
