.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.massages {
  padding: 10px;
}

.massages a:focus {
  color: gold;
}

.inputMessage {
  display: flex;
  margin-left: 5px;
  gap: 5px;
}
